<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.data.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.travel.data.model.entity.Tag">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
            <result property="tagType" column="tag_type" jdbcType="INTEGER"/>
            <result property="tagCount" column="tag_count" jdbcType="INTEGER"/>
            <result property="isCustomized" column="is_customized" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tag_name,tag_type,
        tag_count,is_customized,create_time,
        update_time
    </sql>
</mapper>
