<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.official.mapper.DerivativeMapper">

    <resultMap id="BaseResultMap" type="com.travel.official.model.entity.Derivative">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="officialId" column="official_id" jdbcType="BIGINT"/>
            <result property="derivativeName" column="derivative_name" jdbcType="VARCHAR"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="obtainMethod" column="obtain_method" jdbcType="TINYINT"/>
            <result property="typeId" column="type_id" jdbcType="INTEGER"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="obtainCount" column="obtain_count" jdbcType="INTEGER"/>
            <result property="derivativeState" column="derivative_state" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,official_id,
        derivative_name,cover_url,price,
        intro,obtain_method,type_id,
        view_count,obtain_count,derivative_state,
        create_time,update_time
    </sql>
</mapper>
