<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.official.mapper.OfficialMapper">

    <resultMap id="BaseResultMap" type="com.travel.official.model.entity.Official">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="officialName" column="official_name" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="latAndLong" column="lat_and_long" jdbcType="VARCHAR"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
            <result property="typeId" column="type_id" jdbcType="INTEGER"/>
            <result property="contact" column="contact" jdbcType="VARCHAR"/>
            <result property="tag" column="tag" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="reviewCount" column="review_count" jdbcType="INTEGER"/>
            <result property="favoriteCount" column="favorite_count" jdbcType="INTEGER"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,official_name,
        province,city,location,
        lat_and_long,cover_url,video_url,
        type_id,contact,tag,
        intro,like_count,review_count,
        favorite_count,view_count,create_time,
        update_time
    </sql>
</mapper>
