<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.official.mapper.OfficialResourceMapper">

    <resultMap id="BaseResultMap" type="com.travel.official.model.entity.OfficialResource">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="officialId" column="official_id" jdbcType="BIGINT"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="typeId" column="type_id" jdbcType="INTEGER"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="resourceState" column="resource_state" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,official_id,
        cover_url,price,title,
        type_id,intro,like_count,
        view_count,resource_state,create_time,
        update_time
    </sql>
</mapper>
