<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.user.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.travel.user.model.entity.UserInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="user_avatar" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="signature" column="signature" jdbcType="VARCHAR"/>
            <result property="birth" column="birth" jdbcType="TIMESTAMP"/>
            <result property="sex" column="sex" jdbcType="TINYINT"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="followCount" column="follow_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_account,
        user_password,user_name,user_avatar,
        phone,email,signature,
        birth,sex,like_count,
        view_count,follow_count,create_time,
        update_time
    </sql>
    <select id="listUserWithDelete" resultType="com.travel.user.model.entity.UserInfo">
        select <include refid="Base_Column_List"/>
        from user_info
        where update_time >= #{minUpdateTime}
    </select>
</mapper>
